{% extends 'base.html.twig' %}

{% block title %}😎 Accueil 😎{% endblock %}

{% block body %}
    <h1>😎 Accueil 😎</h1>
    <p>Bienvenue sur Look'Image, ce n'est pas toi qui regardera l'image, mais l'image qui te regardera 🤣🤣🤣.</p>


     <ul class="nav justify-content-center py-4">
         {% for categories in categories %}
             <li class="nav-item">
                 <button type="button" class="btn btn-dark m-2"> <a href="{{ path('pictures_by_category', {'id': categories.id}) }}" class="nav-link text-white"> {{ categories.name }}</a></button>
             </li>
         {% endfor %}
     </ul>

    <hr class="mt-5">

    <div class="row">
        {% for pictures in pictures %}
            <div class="col-md-4 mt-5">
                <a href="{{ path('show_picture', {'id': pictures.id} )}}">
                    <img src="{{ asset('uploads/images/photos/'~ pictures.image) | imagine_filter('thumbnail') }}" alt="{{ pictures.image }}" class="img-fluid" width="400px">
                </a>
            </div>
        {% endfor %}

        <hr class="mt-5">
    </div>

   <div class="nav justify-content-center py-4 mb-5 text-dark">
           <h4>{{ knp_pagination_render(pictures) }}</h4>
   </div>
{% endblock %}

