{% extends 'base.html.twig' %}


{% block title %} Les photos de la catégorie  {{ categories.name }}{% endblock %}

{% block body %}
{# Pas besoin de boucle for si on sélectionne un seul enregistrement en BDD, un peu comme fetch() en PDO #}
    <h1>Catégorie

           {{ categories.name }}
    </h1>

    <div class="row">
        <div class="rounded-img-fluid">
                {% for picture in categories.pictures %}
              <a href="">
                  <img src="{{ asset('uploads/images/photos/' ~ picture.image) | imagine_filter('thumbnail') }}" class="card-img-top mt-5" alt="{{ picture.image }}">
              </a>
                {% endfor %}
            </div>
    </div>

    <hr class="mt-5">


    <div class="text-center">

        <h1>Retrouvez toutes les photos de la catégorie {{ categories.name }}</h1>

        <div class="card" style="width: 18rem;">
            {% for picture in categories.pictures %}
                <a href="">
                    <img src="{{ asset('uploads/images/photos/' ~ picture.image) | imagine_filter('thumbnail') }}" class="card-img-top" alt="{{ picture.image }}">
                </a>
            {% endfor %}
        </div>

    </div>
    <hr class="mt-5">

    <div class="nav justify-content-center py-4 mb-5 text-dark">
        <h4>{{ knp_pagination_render(pictures) }}</h4>
    </div>
{% endblock %}
