{% extends 'base.html.twig' %}


{% block title %}  {% endblock %}

{% block body %}

    <a href="{{ path('home') }}">Retour vers l'accueil</a>
    {# Pas besoin de boucle for si on sélectionne un seul enregistrement en BDD, un peu comme fetch() en PDO #}
    <h1 class="mt-5">

        Apperçu de l'image

    </h1>

    <div class="row" >

        <div class="card col-md-8" style="width: 18rem;">
            <a href="{{ asset('uploads/images/photos/' ~ picture.image) }}">
                <img src="{{ asset('uploads/images/photos/' ~ picture.image) | imagine_filter('medium') }}" class="rounded-img-fluid" alt="{{ picture.image }}">
            </a>
        </div>

        <hr class="mt-5">


           <div class="col-md-4">
               <p class="pt-3"> {{ picture.description }} </p>
               <small class="text-muted"> {{ picture.tags }}</small>
           </div>

    </div>

    <hr class="mt-5">

    <h1>Retrouvez toutes les photos de la  catégorie {{ picture.categorie.name }}</h1> <!--recuperation du nom de la catégorie associé a l'image qu'on observe -->

  <div class="row">
      {% for photo in picture.categorie.pictures %}
          {# !== s'écrit en Twig : is not same as() #}
          {# === s'écrit en Twig : is same as() #}
          {% if  photo.image is not same as(picture.image)%}
         <div class="col-3 mb-4">
             <a href="{{ path('show_picture', {id: photo.id}) }}">
                 <img src="{{ asset('uploads/images/photos/' ~ photo.image) | imagine_filter('thumbnail') }}" class="rounded img-fluid" alt="{{ photo.image }}">
             </a>
         </div>
          {% endif %}
      {% endfor %}
  </div>

    <hr class="mt-5">

    <div class="nav justify-content-center py-4 mb-5 text-dark">
        <h4>{{ knp_pagination_render(photos) }}</h4>
    </div>
{% endblock %}
