{% extends 'base.html.twig' %}

{% block title %}Mon compte - Modifier une photo{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-bold">Modifier une catégorie</h1>

    {{ form_start(formEditCategory) }}
    {{ form_rest(formEditCategory) }}
    <button class="btn btn-primary">Enregistrer la modification de la catégorie</button>
    {{ form_end(formEditCategory) }}

{% endblock %}
