{% extends 'base.html.twig' %}

{% block title %}Mon compte {% endblock %}

{% block body %}

    <h1>Nouvelle catégorie</h1>

    {{ form_start(formNewCategory) }}
    <button class="btn btn-success mt-2">Créer la catégorie</button>
    {{ form_end(formNewCategory) }}



{% endblock %}
