{% extends 'base.html.twig' %}

{% block title %}Mon compte {% endblock %}

{% block body %}

<h1>Nouvelle photo</h1>

    {{ form_start(formUpload) }}

         <button class="btn btn-success">Envoyer ma photo</button>

    {{ form_end(formUpload) }}

{% endblock %}
