<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        {#
        asset() pointe le dossier "public". Suffit ensuite de terminer le chemin à parcourir.
        A utiliser avec le CSS, JS et images
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        #}
    {% endblock %}

    {% block javascripts %}
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container mx-auto">
        <a class="navbar-brand" href="{{ path('home') }}"> 😎 Look'Image 😎</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item">
                {% if app.user %}
                <a class="nav-link active text-white" aria-current="page" href="{{ path('compte') }}">Connecté en tant que : {{ app.user.prenom }} {{ app.user.nom }}</a>
                {% else %}

                {% endif %}
            </li>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                </li>


                    {% if app.user %}

                    <a class="nav-link" href="{{ path('compte') }}">Mon compte</a>  <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>

                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    {% endif %}

            </ul>
        </div>
    </div>
</nav>

<div class="container mx-auto py-5">
    {% block body %}{% endblock %}
</div>


</body>
</html>
